.login__content {
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
}

.login__heading {
  margin: 0 auto;
  padding: 10px 0;
  font-weight: bold;
}

.login__heading-title {
  margin: 0 auto;
  padding: 10px 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.login__main {
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}

.login__form {
  width: 50%;
  margin: 0 auto;
  padding: 10px 10px;
}

.login__item {
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  font-size: 24px;
}

.login__item-input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #5F5F5F;
}

.login__button {
  width: 100%;
  height: 60px;
  padding: 5px 0;
  text-align: center;
  margin-top: 50px;
}

.login__button-submit {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  background-color: #FF5555;
  color: #FFFFFF;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.login__link {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.login__link a {
  color: #0073CC;
  font-size: 20px;
  text-decoration: none;
}

.error {
  font-size: 80%;
  color: #FD0707;
}