.header-search__form {
  padding: 10px 20px;
  width: 40%;
}
.header-search__input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.header-nav {
  padding: 0 0 0 20px;
  width: 30%;
  display: flex;
  justify-content: right;
}
.header-nav__form {
  margin: auto 0;
  margin-right: 20px;
  font-size: 16px;
  align-items: center;
}
.header-nav__logout {
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
}
.header-nav__login,
.header-nav__mypage {
  margin: auto 0;
  margin-right: 20px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.header-nav__listing {
  margin: auto 0;
  padding: 5px 15px;
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.setting__content {
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
}
.setting__heading {
  margin: 0 auto;
  padding: 10px 0;
  font-weight: bold;
}
.setting__heading-title {
  margin: 0 auto;
  padding: 10px 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.setting__form {
  width: 50%;
  margin: 0 auto;
  padding: 10px 10px;
}
.setting__item {
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  font-size: 24px;
}
.setting__img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
}
.setting__item-input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #5F5F5F;
}
.setting__button {
  width: 100%;
  height: 60px;
  padding: 5px 0;
  text-align: center;
  margin-top: 50px;
}
.setting__button-submit {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  background-color: #FF5555;
  color: #FFFFFF;
  border: none;
  font-size: 26px;
  cursor: pointer;
}
.label {
  display: none;
}


.error {
  font-size: 80%;
  color: #FD0707;
}